# 1. Виртуальное окружение (САМОЕ ВАЖНОЕ)
venv/

# 2. Системный мусор Python (кэш и скомпилированные файлы)
__pycache__/
*.py[cod]
*$py.class

# 3. База данных по умолчанию (локальная)
db.sqlite3

# 4. Скрытые настройки среды (пароли, ключи)
.env

# 5. Системные артефакты Windows
Thumbs.db
desktop.ini